.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.description{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.price{
    font-weight: bold;
    font-size: 60px;
}


.img{
    object-fit: cover;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    align-self: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
}
